{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <section class="max-container">
        <article>
            <h2>
                Id
            </h2>
            <h2>
                Name
            </h2>
            <h2>
                Release Year
            </h2>
        </article>
    </section>

        {% for movie in movies %}
        <section class="max-container">
            <article>
                <p>
                    {{ movie.id }}
                </p>
                <p>
                    {{ movie.name }}
                </p>
                <p>
                    {{ movie.releaseYear }} 
                </p>
                <div class="link-box">
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                </div>
            </article>
            <ul>
                {% for quote in movie.getQuotes %}
                <li>
                    {{quote}} ~ {{quote.getAuthor()}}
                </li>
                {% endfor %}
                
            </ul>
        </section>
        {% endfor %}
{% endblock %}
